{% extends '::base.html.twig' %}

{% block inner_content -%}
    <h3>Laboratorio2 creation</h3>

	<form class="form-horizontal" action="{{ path("innovare_main_add", { 'name': 'Laboratorio' }) }}" method="POST">
		<fieldset>
			{% block form_row %}
			    {% spaceless %}
			        <div class="control-group">
			            {{ form_label(form, '', { 'label_attr': {'class': 'control-label'} }) }}
			            <div class="controls">
			                {% form_theme form _self %}
			                {{ form_widget(form) }}
			            </div>
			            {{ form_errors(form) }}
			        </div>
			    {% endspaceless %}
			{% endblock form_row %}
			<button type="submit" class="btn">Submit</button>
		</fieldset>
	</form>
    <a class="btn" href="{{ path('laboratorio2') }}">
        Back to the list
    </a>
</ul>
{% endblock %}
